/* Styles for the 404 page */
.not-found-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
    text-align: center;
  }
  
  .container {
    max-width: 400px;
    padding: 20px;
    line-height :1.5rem;

  }
  
  .not-h1 {
    font-size: 48px;
    color: #e74c3c;
    margin-bottom: 1.5rem;
  }
  
  .not-h2{
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
 .not-p{
    font-size: 16px;
    color: #666;
    margin-bottom: 40px;
  }
  

  
  .back-to-home {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #e74c3c;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .back-to-home:hover {
    background-color: #c0392b;
  }
  